<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWC977VGMW7Vh6gfJqM55j-B2UIf7Jcks</string>
	<key>GCM_SENDER_ID</key>
	<string>932910056370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Next-Energy.Health-HSC</string>
	<key>PROJECT_ID</key>
	<string>ne-hsc</string>
	<key>STORAGE_BUCKET</key>
	<string>ne-hsc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932910056370:ios:bcf1a180bb88ebaaa01aab</string>
</dict>
</plist>